.tableContainer {
  width: 80%;
  height: 100%;
  margin: 0 auto;
//   .mat-elevation-z8 {
//     background-color: darkgray;
//   }
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #dddddd;
}

th {
  font-weight: bold;
  padding: 12px 15px;
  background-color: #f2f2f2;
  font-size: 1.1em;
}
.mat-mdc-row:hover .mat-mdc-cell {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.firstColumn {
  border-right: 1px solid currentColor;
  font-weight: bold;
}

caption {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}
