.tableContainer {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  .countryHeader {
    display: flex;
    justify-content: space-between;
    h1 {
      font-size: 33px;
      color: #333;
      text-align: center;
      text-transform: uppercase;
    }
    .search {
      font-size: 23px;
      color: #333;
      text-align: center;
      padding-top: 2%;
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #dddddd;
    th {
      font-weight: bold;
      padding: 12px 15px;
      background-color: #f2f2f2;
      font-size: 1.3em;
    }
    .mat-mdc-row:hover .mat-mdc-cell {
      background-color: rgba(0, 0, 0, 0.05);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .firstColumn {
      border-right: 1px solid currentColor;
      font-weight: bold;
    }
  }
  .paginator {
    font-size: 18px;
    text-transform: uppercase;
  }
}
