<div class="country-details-container">
    <h1>country details</h1>
    <div class="form-container">
        <div class="country-details" [formGroup]="form">
            <div *ngFor="let controlName of formControlNames">
                <mat-form-field class="form-field">
                    <mat-label>{{ controlName }}:</mat-label>
                    <input matInput [formControlName]="controlName" [readonly]="isReadOnly(controlName)">
                    @if (form.get(controlName)?.hasError('required')) {
                    <mat-error>{{controlName}} is <strong>required</strong></mat-error>
                    }
                    @if (form.get(controlName)?.hasError('pattern')) {
                    <mat-error>Only <strong>numbers</strong> are allowed for {{ controlName }} </mat-error>
                    }
                </mat-form-field>
            </div>
            <img [src]="(country$ | async)?.flag" class="flag-img">
            <div class="buttons-container">
                <button mat-flat-button class="button" (click)="goBack()">Back</button>
                <button mat-flat-button class="button" (click)="updateFields()"
                    [disabled]="!form.dirty || isFormDirtyOrInvalid()">Update</button>
            </div>
        </div>
    </div>
</div>